.icon-2x:before {
  font-size: 2em;
}
.icon-2x {
  margin-bottom: 1em
}

.top-bar .icon-2x {
	margin-right: 1em;
}

html {
	background: #EAEAEA;
	height: 100%;
	/* url('/dashboard/img/pw_maze_white/pw_maze_white.png') repeat fixed left top; */
}
body {
	background: #EAEAEA;
	/* url('/dashboard/img/pw_maze_white/pw_maze_white.png') repeat fixed left top; */
	color: #010101;
	height: 100%;
}
.top-bar {
	/*background: url('/dashboard/img/simple_dashed/simple_dashed.png') repeat fixed left top;*/
	color: #EAEAEA;
}
.content-section {
	background: #EAEAEA;
}
fieldset {
	border: none;
}
fieldset legend {
	width: 100%;
	background: transparent;
}