.title {
	font-size: 1.44em;
}
[class^="small-"],
[class^="large-"] {
	transition: 				width 0.24s;
	-moz-transition: 		width 0.24s;
	-o-transition: 			width 0.24s;
	-webkit-transition: width 0.24s;
}